$primary-color:rgba(0, 0, 0, 0.478);
$texto_color:hsl(0, 7%, 84%);
.contenedor{
    display: flex;
    flex-direction:column;
    text-align: justify;
    align-content: space-around;
    align-items: start;
    padding-left: 40px;
}


.tituloempresa{
    color:$primary-color;
    font-size: 14px;
    margin: 5px;
    width: 540px;
}
.titulofecha{
    font-size: 10px;
    width: 320px;
    margin: 0px;
}
.titulopuesto{
    font-size: 14px;
    border: "7px solid red";
    width: 300px;
    margin: 2px;
}
.texto{
    font-size: 12;
    width: 700px;
    margin: 0px;
    
}
